<div class="">
  <%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label :title, 'Title:', class: 'font-weight-bold text-info' %><br>
      <%= f.text_field :title, class: 'w-100 form-control' %>
    </p>

    <p>
      <%= f.label :body, 'Body:', class: 'font-weight-bold text-info' %><br>
      <%= f.text_area :body, class: 'w-100 form-control' %>
    </p>

    <p>
      <%= f.submit 'Save', class: 'btn btn-success btn-block form-control' %>
    </p>
    
  <% end %>
</div>