<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <nav class="navbar bg-primary align-items-center d-flex justify-content-between">
      <div class="d-flex">
        <h2 class="mr-2"><%= link_to 'Tumblr', root_path, class: 'text-white' %> </h2>
      </div>
      <% if current_page?(about_path) %>
        <h3 class="text-white">Profile</h3>
      <% elsif current_page?(root_path) %>
        <h3 class="text-white">Posts</h3>
      <% elsif current_page?(new_user_session_path) %>
        <h3 class="text-white">Log In</h3>
      <% elsif current_page?(new_user_registration_path) %>
        <h3 class="text-white">Sign Up</h3>
      <% else %>
        <h3 class="text-white">Posts View</h3>
      <% end %>
      
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-warning'%>
      <% else %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Log In', new_user_session_path, class: 'dropdown-item text-info'%>
            <%= link_to 'Sign In', new_user_registration_path, class: 'dropdown-item text-info'%>
          </div>
        </div>
      <% end %>
    </nav>

    <div class="container-fluid d-flex justify-content-between my-3">
      <% if user_signed_in? && current_page?(root_path) %>
        <div class="user col-2 card shadow-sm d-flex flex-column">        
          <%= render 'pages/info' %>
        </div>
      <% end %>

      <div class="main_content col-8 justify-self-center">

        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "notice text-center") %>
        <% end %>

        <%= yield %>

      </div>

      <% if user_signed_in? && current_page?(root_path) %>
        <div class="user col-2 card shadow-sm">
          
          <%= render 'pages/cont' %>

        </div>
      <% end %>

    </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
